@media screen and (max-width: 768px) {
    #features {
        display: flex;
        flex-direction: column;
    }

    #features div {
        width: 100vw;
    }

    .info-img {
        display: none;
        clear: left;
        width: 0%;
    }

    .info-content {
        clear: right;
        width: 100% !important;
        display: inline;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .container ul {
        display: flex;
        flex-direction: column;
    }

    .logo {
        text-align: center;
    }

    #showcase .showcase-content {
        padding-top: 50px;
    }

    #navbar ul li a {
        padding: 5px;
    }
}